/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    //font-weight: 300;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit / 2;

    .media-list {
        margin-left: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: $spacing-unit / 2;
            line-height: 32px;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;

    > li {
        display: inline-block;
        margin-right: 15px;
    }
}

#about-icon {
    border-radius: 5px;
    -webkit-filter: grayscale(100%);

    &:hover {
        -webkit-filter: grayscale(0%);
    }
}

.social-icon {
    font-size: 20px;
    color: $grey-color;
    vertical-align: middle;
}

.icon-twitter {
    &:hover {
        color: $twitter-color;
    }
}

.icon-github {
    &:hover {
        color: $github-color;
    }
}

.icon-rss {
    &:hover {
        color: $rss-color;
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.header-line {
    width: 100%;
    height: 5px;
    //background-color: $brand-color;
    //background-color: #803F82;
    //background-image: linear-gradient(left, #1C0113, #F03C02);
    background: -webkit-linear-gradient(left, #1C0113, #F03C02);
    //background: -webkit-linear-gradient(left, #1C0113 30%, #6B0103, #A30006, #C21A01, #F03C02);
}
